main {

}

ul {
    background-color:darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

img {
}